[2014-02-26 22:43] mattetti opened #1 "Adding support for syntax verification, gofmt / goimports"
I've started testing atom on my machine to write Ruby, Go and more. The issue I'm facing with Go is that I rely heavily on the compiler to check the syntax and on gofmt/goimports to reformat my code and add the right import statements for me.

I'd love to add support for these tools in the language-go package but I don't see any docs explaining how to extend the package beyond grammars and snippet

[2014-02-27 13:33] keks opened #2 "Let gocode do the work"
The Go toolchain contains gocode, a daemon that does everything for you (not sure about snippets), you just have to interface it. That way the extension doesn't have to be changed for different go syntax versions and always works with the installed version of go. The current parser should be kept as fallback though, so it still works if the official go toolchain is not installed/properly configure

[2014-02-28 17:03] MrTravisB opened #5 "Auto indent blocks"
Currently, if I start a new block (`if`, `for`, etc), when I type the open brace, the closing brace is automatically created, but when I press enter, I go to the next line with no added indention and the closing brace is on the same line. I end up with:

[code]

Ideally, after pressing enter, I'd end up with:

[code]

I added the `|` so you could see where the cursor is/would be. The auto indentio

[2014-02-28 17:17] #5 closed, assigned to nobody

[2014-03-01 04:21] drnic opened #6 "Cut releases as a form of announcement to Watchers"
Always nice to know when new shiny things are merged to master. Perhaps cut releases/tag along the way so we can get emails via the releases .atom feed (atom feeds for atom packages!)

[2014-03-01 04:33] Mattieuga opened #7 "The highlighting seems a little off"
For example (compared to my sublime output, both using Solarized (Dark) ). It's natural for the two color scheme to be a bit different, but it seems the Atom parser is not identifying things the same:
### Atom

![screen shot 2014-02-28 at 8 30 59 pm](https://f.cloud.github.com/assets/1270409/2300563/8930e59e-a0fa-11e3-84bd-d824730e542f.png)
### Sublime

![screen shot 2014-02-28 at 8 31 08 pm](http

[2014-03-05 01:57] #6 closed, assigned to nobody

[2014-03-10 02:44] joefitzgerald opened #10 "go build Integration"
Suggested by @mattetti in #9. Add the option to run `go build` on save and display any errors in Atom.

[2014-03-11 04:21] #1 closed, assigned to nobody

[2014-03-19 03:34] #10 closed, assigned to nobody

[2014-03-21 07:50] pengux opened #12 "Add ability to goimports and golint on save"

[2014-03-25 01:02] #12 closed, assigned to nobody

[2014-04-11 02:33] collinglass opened #14 "Add autocomplete"
A nice addition would be to prompt for suggestions to autocomplete + tab to autocomplete top option.

[2014-04-11 18:11] #14 closed, assigned to nobody

[2014-04-26 02:59] drnic opened #16 "// comments instead of /* .. */"
It seems more common for Go programs/libraries (esp samples shown at gophercon this week) use single line // comments rather than multiline /\* ... */ comments. Can we change?

[2014-04-28 17:50] #16 closed, assigned to nobody

[2014-05-02 05:19] joefitzgerald opened #19 "More Snippets!"
https://github.com/fatih/vim-go/blob/master/gosnippets/snippets/go.snippets <-- Seems like a good place to start...

[2014-05-14 07:41] joefitzgerald opened #20 "Grammar - Incorrect Highlighting For `vars`"
`vars := mapEnv(env, splitEnv())` highlights incorrectly because the regexp does not require at least one space following `var`.

![screen shot 2014-05-14 at 12 40 19 am](https://cloud.githubusercontent.com/assets/744740/2968106/08f14416-db3b-11e3-864e-f287ab07da06.png)

[2014-05-19 15:38] #20 closed, assigned to kevinsawicki

[2014-05-26 21:50] tombell opened #22 "Weird Highlighting on returns"
Highlighting is a bit off when returning:

![screen shot 2014-05-26 at 22 47 58](https://cloud.githubusercontent.com/assets/129327/3085964/bdff7a88-e51f-11e3-8ec5-0e733c71d444.png)

[2014-06-25 23:27] #2 closed, assigned to nobody

[2014-07-02 17:50] #7 closed, assigned to nobody

[2014-07-22 18:33] #19 closed, assigned to nobody

[2014-07-29 01:38] mfhholmes opened #26 "HTML template support"
It'd be great if Atom supported html templates like SublimeText does, and could differentiate between the Go template instructions and the html (and tell me when I've messed up either).

Two wrinkles:
- extension: there's no defined extension for html templates. I use "gohtml" because I wanted to differentiate between html and text templates, but I've seen others use ".tmp" and ".tmpl" too.
- deli

[2014-08-04 22:12] tombell opened #27 "Adding `var ()` causes highlighting to bug out"
Highlighting renders fine until I start adding `var ()` for some declarations:

![screen shot 2014-08-04 at 23 10 24](https://cloud.githubusercontent.com/assets/129327/3804307/3d7fcd0e-1c24-11e4-92af-2ec01f7a3f2e.png)

When I say remove the `f` from `func` and re-add it the highlighting fixes itself.

Using the `Tomorrow` theme.

[2014-08-29 18:04] #27 closed, assigned to nobody

[2015-02-05 14:40] ZehCnaS34 opened #31 "weird indenting with nested functions"
When declaring a function as an argument, the trailing curly brace is not properly placed. Is this a problem with this package, or the core text buffer and how it handles indents? Reason I ask is because
I experience the same problem with other languages.

Before gofmt
![bad](https://cloud.githubusercontent.com/assets/1127553/6062034/8e712de8-ad1a-11e4-91ee-fe55bc9cb0eb.png)

After gofmt
![good](h

[2015-02-06 21:33] kevinsawicki commented on #31
So the first screenshot is how it is behaving currently? And the second one is how it should be?

[2015-02-06 22:43] nathany commented on #31
presumably. I think the second is what you would get after running gofmt.

[2015-02-07 00:09] ZehCnaS34 commented on #31
Yeah, the second one is after gofmt.

[2015-02-19 22:02] yelfathi opened #32 "Weird highlighting with type"
Hi,

In this example we can see that we have the same color the user-defined (Myfloat) type and the type itself (float64):
![screenshot 2015-02-19 22 57 50](https://cloud.githubusercontent.com/assets/9952320/6276965/e39c6b7c-b88a-11e4-9a22-4cf1b0425923.png)

It should have the same solor for type and float64. I tried with different syntax themes.

Thanks!

[2015-03-07 17:53] soygul opened #33 "Highlighter treats "close" as a Go keyword whereas it is not"
Pretty self explanatory:

![image](https://cloud.githubusercontent.com/assets/617171/6542538/35bd1920-c4fb-11e4-866f-ce0899606a6f.png)

[2015-03-07 19:28] thomasjo commented on #33
It seems like a built-in function to me: http://golang.org/pkg/builtin/#close

[2015-03-07 19:32] soygul commented on #33
Oh totally forgot about that! I was fooled by the fact that you can create a variable named `close` and it is perfectly ok!

Closing this, as expecting the syntax highlighter to differentiate between a built-in function vs a variable with the name of a built in function is asking a bit too much!

[2015-03-07 22:14] joefitzgerald commented on #33
I don't think it *is* asking too much to expect that to be differentiated. In one, there is no `(` as a suffix; in the other there is a `(`. Grammars are driven by regular expressions, and this distinction can be made.

[2015-03-07 22:22] soygul commented on #33
Well I didn't inspect the code and I don't know how advanced it is but below is also another consideration if then:

[code]

[2015-03-08 00:28] joefitzgerald commented on #33
I would suggest reopening this issue.

[2015-03-08 10:47] soygul commented on #33
Ok re-opening this and leaving it up to the project owners to decide.

[2015-03-16 01:54] bassu commented on #33
This should be fixed by my latest commit in pull request #34, if it is merged.
It also marks these builtin functions' args as data types (just like what Emacs does)!

![solarized-dark-bold-go-builtinfuncs](https://cloud.githubusercontent.com/assets/977697/6659510/fd82f3ae-cba8-11e4-8e4b-b8408f1d750d.jpg)

[2015-03-16 02:03] bassu commented on #32
@yelfathi Very less syntax themes in Atom target Go so syntax highlighing falls back to whatever default styles the theme provides (ugly IMHO).

You can try this one: https://atom.io/themes/solarized-dark-bold-syntax

P.S. I hacked and modded it specifically for Go.

[2015-03-27 13:22] soygul opened #35 "Small struct recognition problem"
![image](https://cloud.githubusercontent.com/assets/617171/6868508/7abad44a-d48c-11e4-9e25-2977c65cf4f1.png)

![image](https://cloud.githubusercontent.com/assets/617171/6868524/94ad931a-d48c-11e4-982e-19fbc01c47ff.png)

`User` is a basic `struct` and I'm using it in a map. Both as a pointer or value map, proper struct highlighting fails in a `make` statement.

This could be a duplicate of #32

[2015-04-06 19:13] TTBlair opened #37 "built-in functions not matching correctly"
My built-in functions (new, len, etc.) don't match properly IF there is only one argument.  The function name matches fine, but the opening parenthesis doesn't seem to match any rule at all, when I inspect it there is no markup around the parenthesis at all, so my syntax theme doesn't color it, leaves it white.  The parameter inside the parentheses is marked as class="storage type go", which I don

[2015-04-08 10:34] svanharmelen commented on #37
@TTBlair I cannot reproduce this with the latest version... Likely PR #36 fixed this problem. Could you maybe update to the latest version and test/try again?

[2015-04-08 10:37] svanharmelen commented on #32
@yelfathi this one works pretty well with Go (and after merging https://github.com/kevinsawicki/monokai/pull/42 it will be even better :wink:):

https://atom.io/themes/monokai

[2015-04-08 10:44] svanharmelen commented on #32
I think that currently (with the latest version) this should be pretty good now... At least as good and consistent as possible considering that the matching is done based on regex'es and not on Go AST (don't think that's possible without some serious changes to Atom itself)

[2015-04-08 10:47] svanharmelen commented on #31
@ZehCnaS34 this seems (indeed) to be related to Atom core and not to this particular package. But I think in Atom (at least) version 0.190.0 this is fixed as I cannot reproduce this problem...

[2015-04-08 10:49] svanharmelen commented on #33
Yup... Looks as solved to me as well...

[2015-04-08 11:04] soygul commented on #33
Didn't solve my specific case (see below) but still a good improvement.

![image](https://cloud.githubusercontent.com/assets/617171/7044066/c63231ea-ddef-11e4-8895-e511c6a7cf86.png)

[2015-04-08 11:10] svanharmelen commented on #33
Check... Personally I do wonder if this is actually something that you would want. Syntactically your right, but if it will improve readability...?

Next to that it's of course a better practice to ***not*** make shadow variables over built-in names/types/functions

[2015-04-08 11:18] soygul commented on #33
Ok gave this a second thought and a fix for this would actually *decrease* the readability. Otherwise it would be necessary to use a 3rd color to indicate shadowed variables to be spot on with what's going on.

Leaving it up to maintainers to close this as they like. I would consider this solved now.

[2015-04-08 14:00] TTBlair commented on #37
@svanharmelen, that fixed it right up.  I didn't realize I was on an older version, thanks so much!

[2015-04-08 14:00] #37 closed

[2015-05-01 16:03] Astarry opened #41 "Formatting error for switch statement"
When I start a switch stmt, the case keywords are not inserted at the correct indentation. Sublime text seems to correct the indentation for case stmt when the : is inserted.

[2015-05-01 16:06] svanharmelen commented on #41
Noticed that as well... And also had another look at issue #31 so was already working on fixing this, but think we need a tweak in Atom core as well as in this package... Will update when I have something working.

[2015-05-11 16:00] #31 closed

[2015-06-29 07:27] myusuf3 commented on #22
I want to use Atom but the go syntax highlighting is so bad. Is there anything else we can use?

[2015-06-29 07:51] svanharmelen commented on #22
@myusuf3 maybe you could point out what exactly it is that you find so bad? As personally I'm quite happy with the syntax highlighting, so I'm curious what you find so bad about it.

As far as I know this is the only Go language package for Atom. Please do note that the highlighting itself is not done is this package! It's done based on the classes assigned to the code/text by this package, but th

[2015-07-13 12:43] StabbyCutyou opened #48 "Highlighting for non-primitives"
Hello,

I was trying to find a way to get non primitive types (either structs from the core libs, or structs from imported libraries / the current codebase) to get highlighted like primitives do, but can't really find where you define primitives in the grammars of language-go.

Am I barking up the wrong tree, and need to look at something deeper in Atom itself? or is this just currently not really

[2015-08-04 19:14] svanharmelen commented on #41
@Astarry there have been a few nice improvements around indenting and as far as I can see this should be working as expected now. Can you confirm your issue is solved now (using Atom 1.0.3 and the latest `language-go` package)?

[2015-08-04 19:19] svanharmelen commented on #35
@soygul this should be a lot better now:

![image](https://cloud.githubusercontent.com/assets/4171547/9070200/6b05db8a-3aee-11e5-9d84-b6709b25696b.png)

So can you confirm that this is now fixed (by PR #52)?

[2015-08-04 19:46] svanharmelen commented on #32
@yelfathi this should be fixed now:

![image](https://cloud.githubusercontent.com/assets/4171547/9070849/2457b146-3af2-11e5-8a33-b6cd33c69d3c.png)

Could you confirm it's working for you as well?

[2015-08-04 19:48] svanharmelen commented on #26
@mfhholmes if I'm not mistaking this is fixed by #30 right? Can you confirm this can be closed?

[2015-08-04 19:54] svanharmelen commented on #22
@tombell can you confirm this one can be closed? I believe the issues are solved, but would be nice if you can confirm that :smiley:

[2015-08-04 20:21] soygul commented on #35
Will confirm as soon as I get my hands on the latest atom. Thanks for the update!

[2015-08-04 21:30] myusuf3 commented on #22
@svanharmelen That was I am talking about some of the choices made here with regard to classes I dont like. This is mostly aesthetics take a look at Sublime Text classes for reference for what I prefer.

Made a huge difference and reason I went back to sublime.

[2015-08-05 06:48] svanharmelen commented on #33
This is fixed in PR #58 and released in v0.36.0.

[2015-08-05 06:48] #33 closed

[2015-08-05 08:03] mfhholmes commented on #26
Yep all good :)

--
  Marcus Holmes
  @Gentlemantech
  0466 564660
  mh@marcusholmes.biz

On Wed, Aug 5, 2015, at 03:48 AM, Sander van Harmelen wrote:

[2015-08-05 08:09] svanharmelen commented on #26
Check... Thanks!

[2015-08-05 08:09] #26 closed

[2015-08-05 08:25] tombell commented on #22
@svanharmelen I don't actually use Atom anymore.

[2015-08-05 08:40] svanharmelen commented on #22
@tombell check... Thanks for letting me know, I will close this one then. If in the future your willing to give Atom another go and have some issues, by all means please open up a new issue again!

@myusuf3 the same goes for you of course! If you ever get back to trying Atom and have issues, just open a new issue with as much concrete examples as possible so we can try to work to out a solution.

[2015-08-05 08:40] #22 closed

[2015-08-05 08:47] soygul commented on #35
Confirmed to work as expected now and looks very good. Closing this. Thanks.

![image](https://cloud.githubusercontent.com/assets/617171/9081745/4e8fa410-3b5f-11e5-857e-2f77444e0396.png)

[2015-08-05 08:47] #35 closed

[2015-08-05 17:06] arthurwhite opened #60 "No more "item" placeholder with "forr" snippet"
Hi,

The [a6a571c commit](https://github.com/atom/language-go/commit/a6a571cdaa0f1f74bb07eebb7df9030a2e9334e4#diff-4122efdf9c03b6cf5cde6fbf421f7c69R43) removed the `item` placeholder in the `forr` snippet.
It went from…
[code]
…to…
[code]
It was faster to:
- replace `index` by `_` when using only the item.
- remove `, item` when using only the index.

Isn't this a regression?
The Go's range loop i

[2015-08-05 18:57] svanharmelen commented on #60
@arthurwhite this was actually on purpose... The `for-range` loop can have many different forms and this seems to be the most generic approach making it easy to use whichever form you need.

Let's have a closer look at the options. There are 3 forms you can use:

[code]

[code]

[code]
As you can see you can have either zero, one or two items between the `for` and the `range` keywords. Of course I

[2015-08-05 21:06] arthurwhite commented on #60
It makes, yes.
So I just need a couple of days to adapt myself.

90% of the time, I use the range loop only for values.
Now as I see a singe placeholder, I directly type the variable name, almost forgetting there was a `_, ` before. And unlike many other languages, a single receiver takes the index/key and not the value… :bomb:

But thank you anyway!

[2015-08-05 21:06] #60 closed

[2015-08-06 15:50] mdwhatcott opened #61 "Snippets could be bundled in a separate (optional) package"
When starting out with Atom and go development the snippets in this package got in the way of regular every-day typing. I still trip over them unintentionally at times and I'd like to see them extracted to a separate, optional package.

Thoughts?

[2015-08-06 15:54] mdwhatcott commented on #61
Nevermind, it seems that all of the `language-xx` plugins are bundled with snippets. It probably doesn't make sense to separate the snippets in this package unless all other such package get the same treatment. I'll just overwrite the snippets that get in the way.

[2015-08-06 15:54] #61 closed

[2015-08-06 15:54] svanharmelen commented on #61
@mdwhatcott I don't think that's needed. I assume (could be wrong of course) that you mean you accidentally trip over them as they are suggested by the `autocomplete-plus` package?

If that is the case, you can turn that behaviour off by disabling the `autocomplete-snippets` package. Or if you really don't want any snippets related behaviour, you could also disable the `snippets` package.

Hope th

[2015-08-19 07:47] MaximSokolov opened #62 "Follow naming conventions"
According [TextMate naming conventions](http://manual.macromates.com/en/language_grammars#naming_conventions):
- [ ] `func` should be `storage.type.function` Now: `keyword`

Related issue is atom/atom#8430

[2015-08-19 09:23] svanharmelen commented on #62
Working on it... Doing a little refactor that makes the whole package behave much closer to the TextMate conventions...

[2015-08-21 21:55] svanharmelen commented on #62
I'm taking a little more time to fix this, as it turns out a lot more than only this scope name needed to be fixed to get this package to the next level. So I just finished with updating the scope names and refactoring a lot of the regexps and some tests.

It turned out some tests didn't test correct and everything not scoped as something specific was scoped as a variable :disappointed: The regexp

[2015-09-16 10:34] #62 closed

[2015-10-01 21:01] 50Wliu commented on #41
Closing as no feedback has been provided and the issue should have been fixed.

[2015-10-01 21:01] #41 closed

[2015-10-12 01:40] carstn opened #65 "labeled statements interfere with code folding"
A [labeled statement](https://golang.org/ref/spec#Labeled_statements) is treated as a Level 1 block (because gofmt will de-indent labels). As a result, folding a function that contains a labeled statement will not be fully folded - only the code preceding the label folds.

I'd expect the function to fold completely, disregarding labeled statements.

For an example, copy this code chunk into Atom a

[2015-10-12 02:02] 50Wliu commented on #65
This is due to a limitation in Atom where code-folding is solely indentation-based: please see atom/atom#3442 for more details.

[2015-10-12 02:02] #65 closed

[2015-10-31 01:01] cbarrick opened #66 "Compound var declarations"
After the update to Atom v1.1.0, comments and other lexical elements within var blocks don't highlight properly. This is independent of syntax-theme.

![var block](https://cloud.githubusercontent.com/assets/271982/10860964/f16e9930-7f47-11e5-8f71-38b6de387d9e.png)

Const blocks still highlight correctly, so I've included such a screenshot as a comparison:

![const block](https://cloud.githubuserco

[2015-10-31 01:45] 50Wliu commented on #66
Hi there @cbarrick!  Can you please move this to the [language-go](https://github.com/atom/language-go) repository?  Thanks!

/cc @svanharmelen

[2015-10-31 07:55] MaximSokolov commented on #66
Here is rule that causes this: [go.cson#L472-L475](https://github.com/atom/language-go/blob/86aeed0221b0559cd37ffffef59cd269f2f60446/grammars/go.cson#L472-L475)

[code]

Code:
[code]
"One Dark" syntax theme on the screenshot

[2015-10-31 23:45] joefitzgerald commented on #66
@50Wliu this is the language-go repository. Not sure why you're asking for it to be moved here, when it's already here?

[2015-10-31 23:47] joefitzgerald commented on #32
@yelfathi Could you please report back with the latest version of Atom, and let us know if things are working? I will close this for now, and will reopen it if you feel there is still an issue.

[2015-10-31 23:47] #32 closed

[2015-11-01 16:25] 50Wliu commented on #66
@joefitzgerald Sorry! :see_no_evil: Sometimes it happens when I've just been going through all the atom/atom issues and then click on one from a different repo.

[2015-11-01 19:39] yelfathi commented on #32
Thanks, it's OK!

[2015-11-02 22:13] michaeltrobinson commented on #66
+1 - I also just ran into this after upgrading to Atom 1.1

[2015-11-04 11:20] svanharmelen commented on #48
@StabbyCutyou this is currently not possible with the language-go package. In order to support such a use case the syntax should be parsed using an ast tree instead of the current regexp based approach. But changing that will not be a straight forward (if at all possible) change to implement.

So I'll close this one for now, but will of course accept a PR implementing this if anyone is up for it :

[2015-11-04 11:20] #48 closed

[2015-11-04 13:59] fortytw2 commented on #66
Same problem here after upgrading to Atom 1.1, comments aren't highlighting properly ->
![screen shot 2015-11-04 at 14 58 36](https://cloud.githubusercontent.com/assets/10286538/10939823/9d5b890a-8304-11e5-8fa2-6e070507c1a5.png)

[2015-11-05 07:48] svanharmelen commented on #66
This one is fixed by PR #67

[2015-11-05 07:48] #66 closed

[2015-11-17 00:08] trentonsmith-wf opened #69 "Golang string syntax highlighting in var() block"
Using the var () block to define global variables seems to trip up the syntax highlighter when the code is formatted with gofmt. Specifically when a map[string]string is used, strings are not highlighted correctly, and in a larger file it throws off the string highlighting so that all strings are normal, and everything else is the string color.

**Reproduction Steps:**
1. Add a map[string]string t

[2015-11-17 10:31] MaximSokolov commented on #69
Has been fixed by #67

[2015-11-17 10:52] svanharmelen commented on #69
Don't think so... This is a slightly different (yet very easy to fix) issue.

Will put in a PR somewhere today...

[2015-11-17 16:47] dnascimento opened #70 "Highlight public methods"
Would be awesome to highlight the public methods, i.e. those starting with upper-case. When I look to a source-code file, I want to see its interface quickly

[2015-11-17 17:25] svanharmelen commented on #70
:-1: for me... I hear you, but I believe that is a personal preference and not a Golang standard.

At least I never saw a syntax package making that kind of distinction between private and exported funcs/methods.

And if we would go up this road it would mean we should make a few more changes in order to keep things consistent. As not only funcs and methods can be either private or exported, but t

[2015-11-17 21:31] 50Wliu commented on #69
1.3.0-beta2 already contains language-go v0.40.0.

[2015-11-28 21:17] bogdanovich opened #72 "Comments inside var block are not hightlighted properly"
<img width="681" alt="screen shot 2015-11-28 at 1 16 09 pm" src="https://cloud.githubusercontent.com/assets/5257258/11453940/5e5f77da-95d2-11e5-9ee1-cd5227b9a44e.png">

[2015-11-28 21:25] svanharmelen commented on #72
This is already fixed in the latest version. You can install it by running 'apm install language-go' or wait until the next minor release of Atom (which includes the latest version).

[2015-11-28 21:28] bogdanovich commented on #72
I just updated version to 0.40.0 and this bug is still there

[2015-11-28 21:30] bogdanovich commented on #72
Thanks, i got this working by updating the package

[2015-11-28 21:30] #72 closed

[2015-11-30 20:44] derekperkins opened #73 "Comments not highlighted properly inside var blocks"
Comments inside of var blocks are highlighted as code, not as comments.
[code]

![image](https://cloud.githubusercontent.com/assets/3588778/11483895/519baac2-9768-11e5-8a3f-639b22703075.png)

[2015-11-30 20:48] svanharmelen commented on #73
Please see closed issues #66, #69 or #72... They all report this problem which was fixed in PR #67 :wink:

So just run `apm install language-go` to get the latest version, or wait until the next minor release of Atom (v1.3.0) which includes the latest version.

[2015-11-30 20:48] #73 closed

[2015-12-01 04:12] derekperkins commented on #73
Sorry for the duplicate issue.

[2015-12-01 06:37] svanharmelen commented on #73
No worries!

[2015-12-02 11:50] arussellsaw opened #75 "Inconsistent highlighting on slices"
I'm finding that slices are not highlighted correctly depending on the declaration

fairly terse bug report, but not much else to say!

![screen shot 2015-12-02 at 11 32 57](https://cloud.githubusercontent.com/assets/5236823/11530201/ae2c7090-98ea-11e5-943a-593fd582ce43.png)

[2015-12-02 11:56] kmckelvin commented on #75
+1 I'm seeing this too

[2015-12-08 17:55] JormaSnow commented on #75
Seeing the same thing, also var names showing up either gray or red depending on context; types showing up purple, grey or green depending. etc. haven't taken the time to catalog them all yet for a but report.
Using "One Dark" syntax theme.

[2015-12-10 12:48] #75 closed

[2015-12-10 12:51] svanharmelen commented on #75
Fixed in version v0.41.0

[2015-12-21 02:34] JormaSnow opened #77 "Inconsistent var/const highlighting"
I am seeing very inconsistent highlighting of constants and variables depending on context. I updated the *language-go* package from version 0.39.0 to 0.41.0 and Atom from version 1.2.4 to 1.3.2, just to ensure that I was up-to-date but I still get the same inconsistencies.

I am using the *One Dark* theme for both UI and Syntax Themes. Linux Mint 17.1 KDE desktop. I have tested for these errors,

[2015-12-28 12:00] svanharmelen commented on #77
It would help if you could look at the scopes that are assigned to the different parts of the code examples.

For example when looking at the scope of `dbHost` here:

[code]

it shows that it is assigned the scope `variable.other.assignment.go` which is correct. When you use `dbHost` at some later point in your code, it will just be assigned the scope `source.go`. This is because there is now way

[2015-12-28 15:02] JormaSnow commented on #77
OK. That does make sense; sorry I didn't think through the subtleties or details in some of those examples. Thanks for taking the time to explain.

But what about:

I think you've explained the difficulty there but really they *should* match.

Wouldn't is just make more sense to leave the "i" in `var i int` without highlighting so that it matches the i in  `i++`.

Comparing apples to pears: in *Su

[2015-12-28 15:55] svanharmelen commented on #77
Yeah I think I agree.. This one is easy to find with a regexp, so we could/should add a fix for this one.

Well, this package is all about trying to scope the syntax as good as possible. So we should scope everything we can with the appropriate scopes. Whether or not it should be highlighted and with what colours is up to the theme packages. If you for example use [this](https://atom.io/themes/mon

[2015-12-29 22:16] JormaSnow commented on #77
OK. Thanks again. I never imagined syntax highlighting would be as complex as it is :)

[2015-12-29 22:16] #77 closed

[2016-01-09 08:41] davidvgalbraith opened #78 "decreaseNextIndentPattern is prone to catastrophic backtracking"
This script will hang for hours:
[code]
That's the `decreaseNextIndentPattern` from `language-go.cson`. `OnigRegExp` is the library used by atom.

If I go to https://regex101.com/ and try the same regex/string it says `Catastrophic backtracking has been detected and the execution of your expression has been halted.`. That doesn't sound good.

This is the cause of https://github.com/atom/atom/issue

[2016-01-10 21:26] #78 closed

[2016-01-15 22:03] patbaker82 opened #81 "main package"
Small nitpick.  Anytime creating `package main` I'm always hit with the `main` autocomplete

Usually it turns out like this:

[code]

[2016-01-23 21:12] kevindeleon opened #82 "Go starter template snippet"
I have a snippet that I use constantly when starting a Go script/package and thought I'd get some opinions on whether or not it might be useful to add into the `language-go` package snippets.

[code]

If you guys think it's worthwhile, let me know and I'll add it to `snippets.cson` and submit a pull-request.

[2016-01-23 21:49] svanharmelen commented on #82
Looks fine to me... So just go ahead and make a PR for it :)

[2016-01-23 21:49] #82 closed

[2016-01-29 09:57] dyatlov opened #86 "Incorrect brackets matching"
guys are discussing the change: https://news.ycombinator.com/item?id=10993470

And found out this:

[code]

Brackets matching becomes incorrect here.. same applies to PHP and other languages..

You should consider rewriting regexes to something more smart.

[2016-01-29 10:11] svanharmelen commented on #86
@dyatlov unfortunately it is not up to the `language-go` package to move away from regexes. Currently Atom does not support any other approach so we're kind of stuck using regexes for the time being.

That said, there are some ongoing discussions about improving this within Atom by using syntax trees instead of regexes. This would of course be a very big improvement, but it will take some time bef

[2016-01-29 12:17] davisford commented on #86
Actually, no offense @dyatlov but that isn't valid `go`.  I do think there are other related issues filed under `atom/bracket-matcher`.

I just filed one over there that is somewhat specific to go, but maybe it belongs over here? https://github.com/atom/bracket-matcher/issues/209

[2016-01-29 13:22] 50Wliu commented on #86
@davisford I think your issue should belong over here, as each grammar writes their own auto-indent rules.  bracket-matcher only handles bracket autocompletion and matching, not indentation.

As for @dyatlov's initial issue, that has already been reported at atom/bracket-matcher#23 and atom/bracket-matcher#78.

For the foreseeable future, grammars will remain regex-based.  A more advanced way of p

[2016-01-29 13:22] #86 closed

[2016-02-01 18:33] davisford opened #87 "Golang bracket indentation for slice initializer"
Moved over here from: https://github.com/atom/bracket-matcher/issues/209

Try this golang code in the editor:

expected:

[code]

actual:

[code]

The bracket matching seems to get confused by the appearance of a second set of brackets (i.e. the slice initializer), and it always places it on the first character of the next newline when `enter` is committed.

[2016-02-11 18:23] ctrlaltdel121 opened #88 "Different classifcation for := vs ="
Is there a way to make the variables to the left of = different from those left of := ? Since one is assignment and one is declaration/assignment it would be nice to highlight the declarations.

I saw in #18 there was some discussion of how it would be hard to cover every case of variable declaration/assignment, but I think being able to highlight a newly-declared variable is really useful. From p

[2016-02-17 06:38] vsysoev commented on #81
+1

[2016-03-07 09:09] roylee0704 opened #89 "support of function-parameters/method-parameters"
support of function-parameters/method-parameters

[2016-03-08 05:47] lee-dohm commented on #89
What does this mean?

See the [How Do I Write a (Good) Bug Report](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#how-do-i-submit-a-good-bug-report) section of the CONTRIBUTING guide for suggestions.

[2016-03-11 10:05] mishak87 opened #90 "Add templates comments {{/* */}}"
Commenting text in template results in `/*<text>*/` it should be `{{/*<text>*/}}`.

[2016-04-04 22:30] codyopel opened #91 "Function arguments ending with lowercase word `type` break syntax highlighting for data type"
![screenshot from 2016-04-04 18-10-31](https://cloud.githubusercontent.com/assets/5561189/14265837/dd7fcece-fa91-11e5-99dd-f305de11b992.png)

Syntax highlighting for the data type for Vartype breaks because it ends in a with a lower cased  word `type` in the name.  The issue only occurs if the entry ends with `type`, if it is in the beginning or middle everything works as expected.

[2016-04-06 06:19] dahankzter opened #92 "Present tool syntax highlighting"
The format is really simple and roughly given here: https://godoc.org/golang.org/x/tools/present

[2016-04-08 01:57] patbaker82 commented on #81
Not sure the best way to resolve this.  It doesn't look like you can stop snippet evaluation.  I think the best option is to just remove main as a snippet keyword.

Either remove main completely or change it to funcm

Thoughts?  I'm happy to submit a pull request.

[2016-04-08 12:10] zmb3 commented on #81
I agree with just removing main as a snippet.  Every time I start a new app this bytes me not once but twice.

I type `package main` which gets turned into

[code]

After I fix that, I type `func main`, which gets turned into

[code]

It would be great if snippets could be suppressed when `main` is already preceded by `package` or `func` (in this case you're already 90% of the way there and the sn

[2016-04-08 13:06] joefitzgerald commented on #81
This annoys the heck out of me also. What if we modified the snippet to print out the package statement and the main function all at the same time?

[2016-04-08 14:18] zmb3 commented on #81
That would be an improvement, but still wouldn't fix the problem entirely.  For people that are accustomed to typing `package main` (which I think is most people), we'd end up getting:

[code]

Maybe we change the snippet to `pm` instead of `main` so that users who type `package main` won't get hit with this?

[2016-04-08 14:26] joefitzgerald commented on #81
What if we made the snippet `packagemain`?

[2016-04-09 00:29] patbaker82 commented on #81
There is already a snippet for `pkg`.

I suggest:

- Remove main as a snippet prefix
- Create snippet prefix `pkgm` that will create both the package main designaton and the main function

`pkgm`

[code]

[2016-04-27 03:20] cbarrick opened #93 "non-ascii variable names"
If the first character (only) of a variable name is not ascii, it is not highlighted correctly. E.g. `gödel` is highlighted correctly, `über` is not.

Atom v1.7.2, language-go v0.42.0

![syntax](https://cloud.githubusercontent.com/assets/271982/14840748/01907b4a-0c05-11e6-921f-2ee0a9db5252.png)

[2016-05-22 17:25] imipolexg opened #94 "Multiline raw string highlighting after `var` declarations"
Somehow the grammar is broken for multiline raw strings if they come after an old-style type declaration. Open up this [gist](https://gist.github.com/imipolexg/aeec2bb12fd1adae0cd27e865248bb8c) in atom.io to see the bug. The string declared `fooStr :=` with a multiline raw string highlights correctly, but a string declared like `var foo string =` with a multiline raw string ends up highlighting th

[2016-07-15 12:49] #81 closed

[2016-10-17 08:29] aeschli opened #98 "Colors in Go broken when multi dimensional arrays are declared"
[code]

The double slash and everything after should be highlighted in green (comment), but is showing as white, but is working code.

_Copied from original issue: Microsoft/vscode-go#531_

[2016-10-17 08:29] aeschli commented on #98
_From @ramya-rao-a on October 14, 2016 17:33_

Thanks for reporting this @sdwarwick!
This is a bug.
Single dimensional array declarations are fine as long as the array size is not defined.

![image](https://cloud.githubusercontent.com/assets/16890566/19396740/60d058ee-91f9-11e6-9067-ba5e28371eb2.png)

Since the colorization for `.go` files is defined in VS Code itself at https://github.com/Microso

[2016-10-18 06:24] cpro95 opened #99 "Printf("message %s\n", str) => " is doubled when type \n"
Printf("message %s\n", str)

In upper code,  when typing \n and " , " doubled two times.
it agonize me.
fix this plz

[2016-10-18 15:23] 50Wliu commented on #99
This is a duplicate of atom/bracket-matcher#80 - feel free to subscribe there for updates.

[2016-10-18 15:23] #99 closed

[2016-10-24 02:18] davisford commented on #87
bump?

[2016-11-19 23:27] zmb3 opened #101 "Code folding doesn't work with multi-line raw strings"
As the title says, code segments with multi-line raw strings can't be folded.
These such strings can make code hard to read as they mess with the indentation, so being able to hide areas where they occur would be helpful.

[code]

Expected behavior when folding:
![image](https://cloud.githubusercontent.com/assets/7527103/20459147/c9996d2e-ae74-11e6-9b9a-a7639ecbd580.png)

Actual behavior:
![image]

[2016-11-20 22:34] 50Wliu commented on #101
Closing in favor of atom/atom#3442.  language-go can't do anything about this until atom/atom#3442 is resolved.

[2016-11-20 22:34] #101 closed

[2016-11-22 17:18] Zamiell opened #102 "Bug with in-line comments"
See attached picture. This should be easily reproducible.

![atombug](https://cloud.githubusercontent.com/assets/5511220/20534054/b8756486-b0ad-11e6-8828-d4ad4581b407.png)

[2016-11-22 17:30] Zamiell commented on #102
![bug2](https://cloud.githubusercontent.com/assets/5511220/20534482/60d13a82-b0af-11e6-877b-71d3b1ad9083.png)

[2016-11-22 17:30] joefitzgerald commented on #102
This is most likely a side effect of this: https://github.com/atom/language-go/pull/97

Would you have time to add a spec to replicate the failure and potentially fix it?

[2016-11-22 17:30] Zamiell commented on #102
Sure, I'll give it a shot.

[2016-11-22 17:31] Zamiell commented on #102
Can you give further instructions for how add the custom spec?

[2016-11-22 17:33] joefitzgerald commented on #102
https://github.com/atom/language-go/blob/master/spec/go-spec.coffee; find the import specs.

[2016-11-27 21:26] rumpelsepp commented on #102
There is also a bug when you comment out package imports like this:

[code]

[2016-11-29 19:40] ramya-rao-a opened #103 "Multi-line string highlighting with backtick"
_From @brandonblock on November 29, 2016 19:11_

When I paste a multiline string as a variable value and surround the string with a backtick, only the first line is highlighted. If I do a new line after the = the highlighting works but gofmt moves the value back to the same line as the assignment.

![screen shot 2016-11-29 at 13 11 14](https://cloud.githubusercontent.com/assets/2208544/20724818/5d

[2016-12-14 20:34] xeger commented on #103
Furthermore, a multiline backtick string seems to cause errors in the highlighting of the rest of the file!
![capture d ecran 2016-12-14 a 12 34 12](https://cloud.githubusercontent.com/assets/73368/21199744/a8f66192-c1f9-11e6-81c6-579d4386ac65.png)

[2016-12-19 11:42] Ben3eeE commented on #89
Thank you for your issue!

We haven't gotten a response to our questions in our comment https://github.com/atom/language-go/issues/89#issuecomment-193618760. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2016-12-19 11:42] #89 closed

[2016-12-26 15:31] ramya-rao-a opened #105 "Comments inside the import block are not highlighted"
_From @ahmetalpbalkan on December 21, 2016 17:52_

![image](https://cloud.githubusercontent.com/assets/159209/21400087/3439cf6e-c763-11e6-98b8-92ff35b49655.png)

_Copied from original issue: Microsoft/vscode-go#694_

[2016-12-31 00:59] 50Wliu commented on #105
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #102. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2016-12-31 00:59] #105 closed

[2016-12-31 00:59] 50Wliu commented on #102
Should be a trivial fix.  Will look into it.

[2017-01-04 12:24] db47h opened #108 "entity.name.function should be entity.name.function.go"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-04 14:11] db47h opened #110 "Treat interface{} and struct{} as builtin types"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-04 16:23] #108 closed

[2017-01-04 16:23] #102 closed

[2017-01-04 21:25] cbarrick commented on #110
The keyword `struct` and the keyword `interface` are already highlighted the same as other types. Your proposal adds the `keyword` class to the following braces if they are empty. I am personally against this.

Syntax highlighting serves to differentiate syntactic elements. Keywords and punctuation are different syntactic elements in Go, so punctuation should not be given the keyword class.

Howev

[2017-01-05 00:17] db47h commented on #110
I believe you misunderstood my intent. Right now, the grammar parser properly identifies built-in types (int, int32 and so on) and gives them a class such as `storage.type.numeric.go`, they are not seen as keywords (and are not keywords but predeclared identifiers according to the Go spec). The fact that some syntax themes have the same highlight for `keyword` and `storage.type` may have mislead y

[2017-01-06 01:03] cbarrick commented on #110
Ah, gotcha. I miscounted the captures (thought 1 was the braces :-!)

[2017-01-14 00:36] rjboer commented on #103
have this as well:
(https://github.com/AtomLinter/linter-golinter/issues/95)

also works with (`

`)

[2017-01-14 03:29] 50Wliu commented on #94
Closing in favor of #103.

[2017-01-14 03:29] #94 closed

[2017-01-14 03:55] 50Wliu commented on #91
On my list.  Will require a large refactoring though.

[2017-02-06 03:42] cbcoutinho commented on #98
I ran into this bug the other day and wanted to post some additional peculiarities instead of starting a new issue.

Below is a screenshot of a simple go file. Line 15 is uncommented for illustration, but must be commented out to be valid go code.

As was stated before, variable array initialization is correct when no length is given, but not when there is a length. Even stranger, the line where t

[2017-02-06 16:25] 50Wliu commented on #98
I've been working on overhauling the variable matching.  This reminds me to get back to work on that :).

[2017-02-08 06:59] OmgImAlexis opened #114 "Highlighting not detecting golang"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-03-03 00:02] dramich commented on #103
Is there an update on this? I see there is an open pull request with a fix.

[2017-03-03 06:00] 50Wliu commented on #103
Yep, it's not done yet.  I need to finish it up.

[2017-03-05 06:56] ramya-rao-a opened #115 "Comment in import is not highlighted"
_From @vy0b0x on March 4, 2017 8:52_

VSCode version: 1.10.1
vscode-go version: 0.6.55
![1](https://cloud.githubusercontent.com/assets/5011191/23577480/e1a14044-00fa-11e7-98d0-cb03ccf1139e.png)

_Copied from original issue: Microsoft/vscode-go#839_

[2017-03-05 18:04] joefitzgerald commented on #115
👋 Hi @ramya-rao-a. Looks like you've taken over much of the work on the https://github.com/microsoft/vscode-go project; as the maintainer of https://github.com/joefitzgerald/go-plus project I have a lot of respect for the work you're doing.

I have noticed a pattern where grammar-related issues are identified in the `vscode-go` repo and "moved" here, unmodified. In talking with the Atom maintainer

[2017-03-05 19:03] joefitzgerald commented on #115
This issue is a duplicate of https://github.com/atom/language-go/issues/105 which itself is a duplicate of https://github.com/atom/language-go/issues/102, which was fixed in https://github.com/atom/language-go/pulls/107.

[2017-03-05 19:03] #115 closed

[2017-03-05 23:41] vy0b0x commented on #115
Thank for your answer

[2017-03-06 01:52] ramya-rao-a commented on #115
Hey @joefitzgerald,

I am definitely up for a standard way of reporting grammar related issues from vscode-go

Trying to repro the same in atom seems logical, vscode might be behind in using the latest grammar

Adding the scope identified for the text in question: yes, definitely.

About contributing back to the grammar itself: I always wanted to do this, just didn't get time to begin :) Will star

[2017-03-20 20:36] 50Wliu commented on #98
Hey there @cbcoutinho, a few questions for you.  Can there be array _assignments_ (eg `var a []int = something`)?  Or can there only be array declarations?

[2017-03-20 20:50] #87 closed

[2017-03-27 17:08] #98 closed

[2017-03-27 17:09] #103 closed

[2017-03-27 17:20] #93 closed

[2017-03-28 03:52] #91 closed

[2017-03-28 10:39] cbcoutinho commented on #98
I'm nowhere close to being an expert in go, so I'm not confident in
answering your question. From the few tutorials I have followed I would say
it's possible, and by that I mean it compiles - but I'm not sure if it's
valid code.

Cheers,
Chris

On Mar 27, 2017 19:09, "Wliu" <notifications@github.com> wrote:

[2017-04-05 11:59] mdaisuke opened #118 "too much decrease of brace identation"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-25 19:28] ramya-rao-a commented on #103
@50Wliu I can still repro this in Atom (Version 1.15)
Do we need to do anything specific as a user to get the latest grammar?

[2017-05-07 01:10] ramya-rao-a opened #119 "Comments in import block not getting the right color"
_From @zoobenthos on May 5, 2017 20:22_

The comments in import block is constant and terribly (as it looks) problem.
It sometimes works right in beginning of the comment line, but is not works right before the module string, etc
Sorry, but it is simply bullshit

_Copied from original issue: Microsoft/vscode-go#969_

[2017-05-07 01:11] ramya-rao-a commented on #119
What comments?

What works right in the beginning of the comment line?

Your issue description is not clear.
Can you please elaborate?

[2017-05-07 01:11] ramya-rao-a commented on #119
_From @zoobenthos on May 6, 2017 6:58_

In previous version this bug was partially fixed but in current version that is appears again.
![example](http://i.imgur.com/TIsDcI9.png)
Partially - because second comment example was not worked properly. Now is both not worked :)

[2017-05-07 01:11] ramya-rao-a commented on #119
Thanks @zoobenthos
We will look into this.

[2017-05-07 01:14] ramya-rao-a commented on #119
Below is a side-by-side comparison of the same code in atom and vscode

The import paths are commented, they don't get the right color.

When inspecting the scope in vscode, the imported path has the scope "entity.name.import.go" instead of "comment.line.double-slash.go"

<img width="675" alt="screen shot 2017-05-06 at 6 08 26 pm" src="https://cloud.githubusercontent.com/assets/16890566/25777102/7

[2017-05-07 01:21] ramya-rao-a commented on #119
Also, I have the latest Atom (1.15.0). How do I ensure that the latest https://github.com/atom/language-go is being used in the Atom I am using?

[2017-05-07 01:27] ramya-rao-a opened #120 "Multi line string in a var with dot still breaks highlighting for rest of the code"
See https://github.com/Microsoft/vscode-go/issues/707#issuecomment-297969367

The scope for the text in the second line of the multi line string is "source.go" instead of "string.quoted.raw.go"

Text following the second backtick get the scope "string.quoted.raw.go"

VSCode is using the Go grammar from https://github.com/atom/language-go/commit/6de3f61

[2017-05-07 01:28] ramya-rao-a commented on #120
cc @50Wliu

[2017-05-07 01:32] ramya-rao-a opened #121 "Variables with periods are not tokenized correctly"
_From @chenhw2 on April 28, 2017 10:1_

[code]

![sp170428_175917](https://cloud.githubusercontent.com/assets/12322033/25524266/78fdce50-2c3c-11e7-9c20-2f2895b6fe8b.png)

Front ```_``` different from back ```_```

[code]

_Copied from original issue: Microsoft/vscode-go#950_

[2017-05-07 01:32] ramya-rao-a commented on #121
The first `_` is getting the scope "source.go" and the second is getting "variable.other.assignment.go"

VSCode is using the Go grammar from https://github.com/atom/language-go/commit/6de3f61

The same can be seen in atom as well

[2017-05-07 15:38] 50Wliu commented on #119
There's a few ways.
1. You can `apm dev language-go`, and then run Atom using `atom --dev`.
2. You can clone language-go, `apm link` it, and then run Atom as usual (dangerous if you forget to unlink after you're done).
3. You can install it as a git package by pasting the repository URL into the Install section of the Settings View.

[2017-05-07 15:45] #119 closed

[2017-05-07 15:53] 50Wliu commented on #120
[code]

[2017-05-07 16:09] 50Wliu commented on #121
I have a fix for this, but as it seems closely related to #120 I think I'm going to wait until I have a response for that one in order to kill two birds with one stone.

[2017-05-08 05:56] ramya-rao-a commented on #119
thanks @50Wliu

[2017-05-09 04:38] joefitzgerald opened #123 "Slice highlighting issue"
(Moved from https://github.com/joefitzgerald/go-plus/issues/639, originally opened by https://github.com/mkreibe)

### Prerequisites

* [x] Have you tried launching `atom .` from the terminal in your project's directory?
* [x] Have you verified the output from `go env` is correct? If it is, please include the output in this issue.
* [x] Have you updated Atom to the latest version?
* [ ] Have you t

[2017-05-09 04:53] 50Wliu commented on #123
`var myArray [5]int // Doesn't highlight` has been fixed.

[2017-05-15 03:00] #120 closed

[2017-05-15 03:00] #121 closed

[2017-05-15 03:00] #123 closed

[2017-05-22 22:22] ramya-rao-a commented on #119
This is fixed in the latest Insiders build

[2017-05-22 22:27] ramya-rao-a opened #125 "Syntax highlighting lost in var block multi-line initialize"
_From @LYY on April 20, 2017 12:22_

See below:

![2017-04-20 20 18 01](https://cloud.githubusercontent.com/assets/508941/25230621/3c5110d8-2607-11e7-92d6-fdef5daee0fc.png)

code:

[code]

In the `Handler` function, lost highlighting with `var`, `if`, `return` and so on.

_Copied from original issue: Microsoft/vscode-go#936_

[2017-05-22 22:27] ramya-rao-a commented on #125
@LYY which version of VS Code are you using?

[2017-05-22 22:27] ramya-rao-a commented on #125
_From @LYY on May 11, 2017 2:43_

@ramya-rao-a For now is 1.12.1, the bug is still there.

[2017-05-22 22:27] ramya-rao-a commented on #125
_From @jimah on May 17, 2017 11:42_

I am also experiencing this issue in 1.12.2.

Go plugin version 0.6.61.

[2017-05-22 22:27] ramya-rao-a commented on #125
_From @dmke on May 22, 2017 16:59_

I believe the grammar has a a problem with parentheses in the `var (...)` declaration block. I've notices this while creating a global channel ([Gist with go sources](https://gist.github.com/dmke/a59c76c1d65f5f822c03ff7557288475)):

![screenshot](https://cloud.githubusercontent.com/assets/327411/26319470/6f62c300-3f1f-11e7-9d90-67c87064c80d.png)

Here's another

[2017-05-22 22:28] ramya-rao-a commented on #125
@50Wliu Another `var` related issue coming your way :)

The keywords get the scope "variable.other.declaration.go" instead of `keyword.type.go` / `keyword.function.go` etc

[2017-05-22 23:13] montanaflynn opened #126 "Color for type is wrong depending on arg name"
If an argument name ends with lowercase `type` the type will be a different color:

<img width="555" alt="screen shot 2017-05-22 at 4 12 09 pm" src="https://cloud.githubusercontent.com/assets/24260/26332108/83c808b6-3f09-11e7-86d1-028875d3ef03.png">

[2017-05-23 00:08] joefitzgerald commented on #126
Nice find. Thanks for reporting!

[2017-05-23 04:23] 50Wliu commented on #126
This was fixed by #117 in Atom 1.18.0, and there's a spec testing for it [here](https://github.com/atom/language-go/blob/c14edbe95481aec254180cf33b37cf697e8d7f60/spec/go-spec.coffee#L458-L461).

![no-more-lookbehinds](https://cloud.githubusercontent.com/assets/2766036/26338428/dea95c50-3f4d-11e7-8799-77dd93ac14ba.png)

[2017-05-23 04:23] #126 closed

[2017-05-23 04:25] #125 closed

[2017-05-23 05:41] ramya-rao-a commented on #125
Thanks @50Wliu !

[2017-05-23 05:53] ramya-rao-a opened #128 "Inconsistent syntax highlighting for multiple assignment to fields"
_From @willfaught on May 11, 2017 23:37_

See the attached image:

<img width="519" alt="screen shot 2017-05-11 at 11 46 04 am" src="https://cloud.githubusercontent.com/assets/63830/25976180/1254e39c-3668-11e7-9845-762829e5809c.png">

The FieldsSplit field is colored differently than the other fields in the assignment.

_Copied from original issue: Microsoft/vscode-go#992_

[2017-05-23 05:53] ramya-rao-a commented on #128
In the above case `FieldsSplit` gets the scope `variable.other.assignment.go` and rest of the words before it get `source.go`

[2017-05-24 22:25] 50Wliu commented on #128
Cannot reproduce on f9a27ad:
![image](https://cloud.githubusercontent.com/assets/2766036/26428192/5b8af3ee-40ae-11e7-8b4b-0e9fa3806f76.png)

[2017-05-24 22:25] #128 closed

[2017-05-24 23:59] ramya-rao-a commented on #128
Thanks @50Wliu I can confirm that this is fixed in the latest grammar as well

[2017-06-25 22:51] kylelemons opened #129 "Syntax highlighting for rune literals"
### Working examples

Syntax highlighting for double- and raw-quoted strings work correctly:

    return "?????"
    writef(`   \___/`)

### Broken examples

Syntax highlighting for rune literals (aka character literals) does not work:

    return capitalize('a')

should highlight the `'a'` in a similar fashion to a string literal.

### Proposed fix

The [go.cson][gocson] file appears to have synt

[2017-07-09 04:40] ramya-rao-a opened #130 "Variable block declaration syntax highlighting broken by call assignment"
_From @willfaught on July 8, 2017 0:8_

Can be seen with this syntax:

[code]

*Note: GitHub syntax highlighting for the above doesn't show the problem.*

See the screenshot:

![screen shot 2017-07-07 at 5 04 33 pm](https://user-images.githubusercontent.com/63830/27980711-8c6333c8-6336-11e7-85b4-f5cd2fdf0e7f.png)

VS Code: Version 1.13.1 (1.13.1), 379d2efb5539b09112c793d3d9a413017d736f89
OS: macOS

[2017-07-09 04:42] ramya-rao-a commented on #130
@50Wliu Another `var` and `()` issue.

This must be a regression. I cannot repro in Atom 1.18.0. But I can repro when using `atom --dev` after running `apm dev language-go`

[2017-07-09 04:44] ramya-rao-a commented on #130
VS Code is using the version https://github.com/atom/language-go/commit/c1fe618ccf2dcd17118c5600c49b1c539f26d5c5

[2017-07-11 11:02] dnldd opened #131 "Broken Syntax Highlighting"
The syntax highlighting for golang in atom 1.18.0 seems buggy, in the image below I'm using squirrel to create an SQL query, the syntax highlighting fails when string literals are introduced. It treats everything as a string literal (light green highlight) from there on, disregarding quote marks.

<img width="837" alt="broken-syntax-highlighting" src="https://user-images.githubusercontent.com/1281

[2017-07-11 14:54] 50Wliu commented on #131
Thanks for taking the time to contribute!

We noticed that this is a duplicate of atom/atom#1667. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times

[2017-07-11 14:54] #131 closed

[2017-07-16 04:03] 50Wliu commented on #130
This one might be a bit tricky.

[2017-07-16 21:19] #129 closed

[2017-07-17 02:22] #130 closed

[2017-07-17 05:26] ramya-rao-a commented on #130
@50Wliu  May I just say that you are our grammar champion :)

I have lost the count of the number of times I have moved a grammar related bug to this repo and you have fixed it.

I wanted to thank you for all your work and I really appreciate everything you do 👏

[2017-09-24 07:01] ramya-rao-a opened #134 "<-chan field name is colored differently than other field names"
_From @willfaught on September 20, 2017 18:31_

Try with:

[code]

Screenshot:

<img width="258" alt="screen shot 2017-09-20 at 10 55 39 am" src="https://user-images.githubusercontent.com/63830/30660798-ebd72260-9df6-11e7-8df7-d30c924e01a8.png">

_Copied from original issue: Microsoft/vscode-go#1233_

[2017-09-24 07:01] ramya-rao-a commented on #134
We use the grammar for Go from http://github.com/atom/language-go

The scope for `X` in the above example is `variable.other.declaration.go` where as for `Y` the scope turns out to be just `source.go`. Thus the change in color.

[2017-09-25 21:35] ramya-rao-a opened #135 "highlighting: nested field accesses colored inconsistently"
_From @willfaught on August 19, 2017 8:26_

Steps to Reproduce:

1. Enter into a function:

[code]

2. See the following inconsistent field accessor syntax highlighting:

<img width="175" alt="screen shot 2017-08-19 at 1 21 38 am" src="https://user-images.githubusercontent.com/63830/29484886-3def6456-847d-11e7-869f-4b8bf83414cb.png">

_Copied from original issue: Microsoft/vscode#32820_

[2017-09-25 21:35] ramya-rao-a commented on #135
_From @mjbvz on August 19, 2017 19:3_

@willfaught That is go code, correct?

[2017-09-25 21:35] ramya-rao-a commented on #135
_From @willfaught on August 19, 2017 19:5_

Yes

Sent from my iPhone

[2017-09-25 21:36] ramya-rao-a commented on #135
The blue ones have the scope `variable.other.assignment.go`
The white ones have the scope `source.go`.

The color issue occurs in Atom as well

[2017-09-25 21:49] ramya-rao-a opened #136 "Field name "string" colored same as type name "string""
_From @willfaught on September 20, 2017 6:7_

As in:

[code]

Screenshot:

<img width="347" alt="screen shot 2017-09-18 at 7 04 25 pm" src="https://user-images.githubusercontent.com/63830/30629141-1beaac32-9d8f-11e7-9073-76a04bc6f119.png">

Is there a way to color the token "string" based on the parsing context?

---

- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09

[2017-09-25 21:49] ramya-rao-a commented on #136
Am curious, why would you want to name a struct field the same as a keyword?

Feels idiomatically wrong...

cc @rakyll and @campoy for thoughts.

[2017-09-25 21:49] ramya-rao-a commented on #136
_From @willfaught on September 24, 2017 20:0_

The fields matched exported method names in another type. In this case, `String() string`.

Another common one is “len”. Also “cap”.

Sent from my iPhone

[2017-09-25 21:53] ramya-rao-a commented on #136
The words in white have the scope `source.go`
The `string` has the scope `storage.type.string.go`

The same issue occurs in Atom as well

[2017-09-25 22:28] willfaught commented on #136
Note that `string` isn't a keyword in the parsing sense; it's a pre-declared identifier that can be re-declared. Same with `int`, `len` and `cap`. This issue applies to the identifiers of all built-in types: int8, uintptr, rune, etc.

[2017-09-25 23:10] ramya-rao-a commented on #136
Thanks for the clarification @willfaught , I get it now.

[2017-09-25 23:21] 50Wliu commented on #135
I have a fix for this.  However, it's more of a temporary one.  I'd like to understand what the `.` operator stands for in Go: is it more-or-less the same as `obj.property` and `obj.method()` in say, JS or Java?

[2017-09-26 01:02] rakyll commented on #136
The reserved keywords are listed at https://golang.org/ref/spec#Keywords. Everything else can be used as an identifier. Even though it may not sound as a good option to call an identifier "string", it is not illegal.

[2017-09-26 02:25] willfaught commented on #135
@wliu Yep

Sent from my iPhone

[2017-09-26 14:17] #135 closed

[2017-09-26 17:20] ramya-rao-a commented on #136
Thanks @rakyll

[2017-09-27 09:14] #134 closed

[2017-09-28 18:19] willfaught opened #140 "Syntax color of declared identifiers changes if type is present"
In a const block, if a declaration is explicitly typed, the name is white, but if not, then it's light blue:

![screen shot 2017-09-27 at 3 04 38 pm](https://user-images.githubusercontent.com/63830/30940251-4979307c-a395-11e7-9cc9-d1fe1ef08c5b.png)

This can look strange:

![screen shot 2017-09-27 at 3 09 01 pm](https://user-images.githubusercontent.com/63830/30940400-d5234388-a395-11e7-8c54-40471

[2017-09-28 18:22] willfaught commented on #110
Shouldn't `struct` and `interface` be colored the same as other keywords like `var` and `const`? [They're all listed as keywords in the Go spec.](https://golang.org/ref/spec#Keywords)

[2017-09-28 18:41] ramya-rao-a commented on #140
In the above cases, the declarations in blue have the scope `variable.other.assignment.go` and the one in white has the scope `source.go`

Same issue occurs in Atom as well

[2017-09-29 00:53] cbarrick commented on #110
It appears that both `struct` and `interface` get tagged as keywords in the editor. I still don't think `struct{}` and `interface{}` should be special, because semantically they are not. If anyone has a problem with the current state of affairs, screenshots would be help the discussion.

Otherwise, this should probably be closed.

[2017-09-29 16:40] db47h commented on #110
Well, semantically `struct{}` is a type literal and `struct` is a keyword. Can't be any simpler.

Now what I'm really interested in is code legibility. When syntax highlighting turns code into a peacock, one might as well disable it.

As requested, I'll try to demonstrate with a few screenshots with different themes.

### Atom-Dark

A good example of that is with the Atom-Dark theme where parsing

[2017-09-29 22:25] db47h commented on #110
I just realized that a function argument of type `struct{}` is just silly, so just imagine that I wrote `interface{}` instead. I also failed to mention that I changed the channel types.

In a darker environment, the Monokai theme is not that bad. Still, when it comes to reading code, homogeneously colored types make it easier to parse, at least for me.

[2017-10-03 16:20] apiarian opened #141 "Floating point literals should accept unsigned exponents"
According to https://golang.org/ref/spec#Floating-point_literals the `+` or `-` bit after the `E` is optional. Should the line below just be changed to say something like `[\+\-]?`

https://github.com/atom/language-go/blob/f7c6ca60bfd9d11252560b21e9378e5f82438ce3/grammars/go.cson#L128

[2017-11-18 20:45] jpca999 opened #144 "how do i get this hightlight on hoverin on the variable ?"
![image](https://user-images.githubusercontent.com/1026325/32984570-510e2a94-cc77-11e7-8178-d09789586ee6.png)

### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: h

[2017-11-18 21:39] 50Wliu commented on #144
Thanks for reaching out!

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since [they don't represent a task needing to be completed](http://blog.atom.io/2016/04/19/managing-the-deluge-of-atom-issues.html). For most questions about Atom there are a lot of options, check out

[2017-11-18 21:39] #144 closed

[2017-12-17 13:58] betawaffle opened #147 "Failed to load a language-go package grammar"
Steps to reproduce:

1. Launch Atom

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.11.6
**Thrown From**: [language-go](https://github.com/atom/language-go) package 0.45.0-3

### Stack Trace

Failed to load a language-go package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-12-18 19:21] rsese commented on #147
Thanks for the report!  It looks like you manually installed the `language-go` package at some point which isn't necessary since it's a core package.  Go ahead and run `apm uninstall language-go` and that should fix things for you.

[2017-12-18 19:21] #147 closed

[2018-02-16 10:32] purpuregecko opened #148 "Some keywords are not hightlited when i use tree-sitter."
I'm not sure this is right place to submit this issue. But I think problem in [this](https://github.com/atom/language-go/blob/master/grammars/tree-sitter-go.cson) file.

### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode

[2018-02-16 15:02] #148 closed

[2018-02-16 15:04] maxbrunsfeld commented on #148
Thanks for the report @purpuregecko. I've added the missing keywords. I'm still not seeing `fallthrough` get highlighted. I think this is because of a bug in the core syntax highlighting system in Atom. I'll fix this shortly.

[2018-02-16 17:31] maxbrunsfeld commented on #148
Oh, nevermind. The issue with `fallthrough` was due to a difference in the way `fallthrough_statement` was parsed compared to the other statements with keywords. Fixed in https://github.com/tree-sitter/tree-sitter-go/commit/68b556dc178076c0decc2b7cf3561db37f6f960f.

[2018-02-20 13:19] mbenkmann commented on #70
Regardless of whether Atom decides to highlight exported methods by default, could you please add a class to distinguish them in go.cjson.

[2018-03-29 17:26] ramya-rao-a opened #149 "Comments inside the var statement do not have the right color"
### Description

Comments inside the var statement do not have the right color

### Steps to Reproduce

Use the below content:
[code]

It appears as below in VS Code that uses the same grammar as available in this repo
![screen shot 2018-03-27 at 11 13 17 am](https://user-images.githubusercontent.com/63830/37986334-0ba2a626-31b0-11e8-9398-5a796ee3ed62.png)

**Expected behavior:** [What you expect

[2018-03-30 22:26] chbk opened #150 "Go not highlighted with tree-sitter"
Go files aren't stylised by syntax highlighting packages that look for `syntax--source`. Adding a 'program' scope in tree-sitter-go.cson would maybe fix this?

[2018-08-21 08:10] Arcanemagus commented on #150
I believe this should have been fixed by https://github.com/atom/language-go/pull/151.

[2018-08-21 08:10] #150 closed

[2018-08-21 16:13] Arcanemagus commented on #149
Confirming this in `1.31.0-nightly9`:
![image](https://user-images.githubusercontent.com/427137/44414230-20a5ad80-a522-11e8-9421-e7e499fce2d6.png)

Note that this is fixed in the Tree-sitter Go parser:
![image](https://user-images.githubusercontent.com/427137/44414291-459a2080-a522-11e8-80ba-7483bf8e8e56.png)

[2018-09-02 09:20] ramya-rao-a opened #152 "Feature Request: Please consider supporting the new go.mod and go.sum files"
`go.mod` and `go.sum` files are introduced in the go modules feature.
Would this repo consider adding syntax highlighting support for them?

[2018-09-30 17:16] brainsnail commented on #152
Taking a look at this.

[2018-10-16 12:34] pd93 commented on #152
Just for reference.. This is how I imagine the syntax highlighting looking when complete (theme dependant obviously). I've included a few different version formats that can be commonly found.

![image](https://user-images.githubusercontent.com/9294862/47016317-3b258d00-d147-11e8-9b80-0f3863619709.png)

@brainsnail Please let me know if you'd like any help with this

[2018-10-16 13:48] brainsnail commented on #152
Thanks @pd93 - it's good to know I'm not too far off base 😄

I created a branch that has some of those [changes](https://github.com/brainsnail/language-go/commit/71e0fefafd31a9cccdc45901d24e923fc0c409c7) and have been working on it here and there. It's been mostly learning about Atom and going through the 'Flight Manual' with some review of the Module section on the Go wiki

For the semver formatt

[2018-10-17 01:33] eternal-flame-AD opened #155 "type name not colored in block type statement"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-10-17 03:56] rsese commented on #155
Thanks for the report!

This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it manually by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released.

Here's how it looks with Tree-sitter:

![image](htt

[2018-10-17 03:56] #155 closed

[2018-10-18 13:56] pd93 commented on #152
@brainsnail Apologies for the slow replies. Been off ill for a couple of days. Disclaimer, I'm far from an expert on these things, but I'll try and rubber duck your comments as best I can.

I've put your regex into a [regex tester](https://regex101.com/r/LnQtA7/1). It appears to be catching everything pretty well except for when a date is followed by a commit hash. I'm not actually sure why this o

[2018-10-18 19:37] brainsnail commented on #152
@pd93 That's awesome!

Yes, I think your regular expression covers the version matching better than mine did. I had not seen the case you had encountered with the date and hash. I think those are modules that haven't been tagged properly so it's just doing the best it can to pinpoint the 'version' off of the last commit date and hash.

Regarding the comment about the grammar being recognized - I'm

[2018-10-19 17:54] pd93 commented on #152
@brainsnail Thanks for the collab invite. I've cloned you repo, linked it to atom and made a commit for the version string matching. Everything seems to work as expected (see screenshot). Let me know if you still have problems loading the dev package.

![image](https://user-images.githubusercontent.com/9294862/47234122-adf36a00-d3cc-11e8-901b-f262f87da351.png)

I had a bit of an internal argument

[2018-10-21 15:05] brainsnail commented on #152
Sorry for the delay, @pd93

I think these changes are what we need to do. I'm going to push up a PR and see how it goes. Did some spot checking again on a few projects with modules and things checked out.

[2018-10-24 19:15] warpkanal opened #157 "Differentiate between methods and functions"
I initially filed this issue against vscode https://github.com/Microsoft/vscode-go/issues/1923 but understood that it's more a problem in the parser than in vscode.

I'd like to treat method vs. function invocations differently.
This is for example possible in Goland:
![image](https://user-images.githubusercontent.com/3669157/47455252-b0413400-d7d1-11e8-9498-2e27d24bb81a.png)
Function invocations

[2018-11-01 14:22] chbk opened #159 "Go not highlighted with tree-sitter"
Reopening #150 because the issue persists.

My syntax theme's css is structured like this:

[code]

When I enable the tree-sitter parser, the scope looks okay:

![](https://user-images.githubusercontent.com/7478535/47856804-5bf90e00-dde8-11e8-847e-720883423ec0.png)

However, nothing is highlighted in the go file. All text is white.

I don't have this problem with other languages. In javascript, ev

[2018-11-01 17:40] #159 closed

[2018-11-04 20:36] ramya-rao-a opened #161 "Package variables and types missing syntax highlights"
Left is from VS Code which uses the latest `grammars/go.cson` from this project.
Right is Atom which I believe is using the tree-sitter version.

![](https://i.postimg.cc/knGbjB30/WX20181104-121557-2x.png)

[2018-11-05 03:54] qhenkart opened #162 "Language-go package seems to not work"
### Description

Language-Go not working:

Language go stopped adding any go classes or go specific formatting to my files. It looks like an update of some sort occurred in the middle of my work and suddenly all of my styling broke.

I have done a complete 100% fresh install of Atom, and I am still getting the same issue. There are no go specific classes and the tags that I see from the go.cson fi

[2018-11-05 11:59] thomasjo commented on #162
Duplicate of #159. Fixed by #160. The fix will most likely be available in the next patch release of Atom 1.32.

[2018-11-05 11:59] #162 closed

[2018-11-08 05:19] Toasa opened #163 "Cannot fold up the "case" statement"
### Description

I cannot fold up (= short) the "case" statement in the "switch" statement.
My atom version is 1.32.1 and "language-go", that is core package, is 0.46.4.
I remember that didn't happen previous "atom" and "language-go" version.

### Steps to Reproduce

1. Write a any "switch" statement in Golang, that has a "case statement".
2. To fold up the "case" statement, I want to press the "v

[2018-11-08 20:57] #163 closed

[2018-11-10 02:55] Toasa opened #165 "Cannot fold up a continuous comment-out code"
### Description

When a comment-out code is continuous multi lines, I cannot fold up such that code.
My atom version is 1.32.1 and "language-go", that is core package, is 0.46.4.
I remember that I can fold the comment-out previous "atom" and "language-go" version.

### Steps to Reproduce

Write a multiple line comment-out code e.g.:

[code]

**Expected behavior:**

Be able to fold up the some cont

[2018-11-14 05:30] ankita55 commented on #165
+1
This is a very handy feature. It disappeared suddenly.  Please fix this soon.
Atom version: 1.32.2

[2018-11-14 21:18] rsese commented on #165
Thanks for the report - looks like the same issue as reported for JavaScript x-ref: https://github.com/atom/language-javascript/issues/607.

Reproduced in 1.34.0-nightly12 on macOS 10.12.6.

[2018-11-15 05:30] ankita55 commented on #165
Thanks a ton @rsese . This is exactly what I was looking for!

[2018-12-06 08:14] rsese commented on #165
Thanks again for the report - since this affects multiple languages, we created an issue in atom/atom for tracking if you want to subscribe there:

https://github.com/atom/atom/issues/18549

[2018-12-06 08:14] #165 closed

[2019-02-01 11:23] veger opened #166 "Import scope is gone"
### Description

The golang language used to have a `entity.name.import.go` scope, which could be used to see if the grammar was inside an import block:

[code]

or

[code]

But I cannot find this in the tree-sitter grammar rules (which seems to be used now?)

Is this expected, or forgotten to include?

My [linter-spell-go](https://github.com/veger/linter-spell-go) package was using this to [disab

[2019-02-01 11:38] Aerijo commented on #166
Likely a regression, not intentional. The Tree-sitter nodes are roughly
[code]
so it shouldn't be too difficult to reintroduce the scope.

[2019-02-05 21:37] rsese commented on #166
👍 reproduced with 1.36.0-nightly10 on macOS 10.12.6.

[2019-02-27 17:08] mcandre opened #168 "Wrong highlighting for function parameters"
Knock, knock!

When a parameter to a function is itself a function type, then language-go does not highlight the binding correctly.

[2019-03-08 01:15] rsese commented on #168
:smile:

Can you share a code snippet for what you're describing along with the rest of the issue template details (e.g. it's always helpful to know what version of Atom you're running, etc.).

[2019-03-11 18:19] mcandre opened #169 "Enhancement: Highlight *.gotpl files"
`*.gotpl` is another common file extension for Go template files. Could we have this file extension added to the default Go template file pattern list?

[2019-03-14 01:44] rsese commented on #169
Thanks @mcandre - we're currently trying to not make or accept this type of change since people can [customize how Atom recognizes files as specific languages](https://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-language-recognition) and we'd prefer that people use this customizability rather than making changes to the language packages.

[2019-03-14 01:44] #169 closed

[2019-03-25 13:58] alexr00 opened #170 "In TextMate grammar, string in map declaration is incorrectly scoped"
Given this go snippet:
[code]
The value indicated in the snippet above is incorrectly scoped as `variable.other.assignement.go`.

[2019-03-28 06:12] rsese commented on #170
Thanks for the report!  Looks like this isn't an issue with Tree-sitter (1.37.0-nightly22 on macOS 10.12.6):

![go-map](https://github-slack.s3.amazonaws.com/monosnap/untitled_2019-03-28_01-09-17.png)

So we'll go ahead and close, but let me know if I'm misunderstanding :v:

---

As you may have heard, we are migrating from our old [first-mate grammar engine](https://github.com/atom/first-mate) to

[2019-03-28 06:12] #170 closed

[2019-04-05 01:58] #168 closed

[2019-05-06 12:34] rajalokan opened #171 "No autocomplete for certain langauge keywords like `return` or `break` etc"
### Description
At present auto suggestion for language keywords like `return`, `break` etc isn't working for a go file. Having to quickly select suggested word beneath cursor is very handy most of the time.

### Steps to Reproduce

1. Create a go file and open it in atom.
2. In any function try writing `return` statement.
3. You will find there is no suggestion till I have to write complete word.

[2019-05-06 21:48] rsese commented on #171
Thanks for reaching out!  As mentioned in the README, this package only provides syntax highlighting and snippets for Go.  I'm assuming you have some community package that provides Python autocompletion?  If you want Go specific autocompletion and completions beyond the built-in autocomplete provider, you'll need to install a community package that provides Go autocompletion (I don't use Go mysel

[2019-05-06 21:48] #171 closed

[2019-05-13 15:03] joeshaw opened #172 "Feature request: add scope to all types, not just builtins"
The various primitive types are assigned scopes, but custom types are not.  I'd like for all my types to have the same color in my VSCode theme.

![image](https://user-images.githubusercontent.com/39916/57156858-11634900-6dad-11e9-87cc-f1938d5b4c9f.png)

In the above screenshot, I would like for `io.Reader` and `*x509.Certificate` to be red like `error`.  Unfortunately, there are no scopes attache

[2019-05-21 23:06] rsese commented on #172
Thanks for reaching out!

With Tree-sitter enabled it looks like both `reader` and `Certificate` are both `support.storage.type` e.g. for `reader`:

![go-types](https://user-images.githubusercontent.com/734194/57965112-2095db00-7905-11e9-8aa4-433295a5f173.png)

/cc @ramya-rao-a from https://github.com/microsoft/vscode-go/issues/2491 - as you may have heard, we are migrating from our old [first-mat

[2019-05-21 23:06] #172 closed

[2019-05-21 23:12] joeshaw commented on #172
Thanks for the info. @rsese @ramya-rao-a Is the right next step for me to file a bug against microsoft/vscode-go to request switching to the new tree-sitter engine if there isn’t one already?

[2019-05-22 06:29] Torniojaws commented on #161
It appears to be broken for more than just them. Here's how it looks like with the latest Atom (1.37.0) and with `language-go` version 0.46.6:

Without Tree Sitter Parser:
![image](https://user-images.githubusercontent.com/5442750/58151917-d057a980-7c73-11e9-9abf-92e30deb7a4a.png)

With Tree Sitter Parser enabled:
![image](https://user-images.githubusercontent.com/5442750/58151940-e2d1e300-7c73-11

[2019-05-22 07:18] ramya-rao-a commented on #172
In that case the next step would be to log an issue in the VS Code repo i.e. https://github.com/Microsoft/vscode because the grammar is being provided by VS Code itself and not the Go extension

[2019-06-25 15:16] alexr00 opened #173 "Go constants with omitted assignment are not syntax highlighted correctly with TextMate grammar"
Originally from @segevfiner in https://github.com/microsoft/vscode/issues/76073

Sample code:
[code]
`Value1` gets scope `variable.other.assignment.go`, and the other values just get `source.go`. I think that Value1 shouldn't have a different scope here.

[2019-06-25 22:33] rsese commented on #173
Thanks for the report!  Looks like this isn't an issue with Tree-sitter (1.40.0-nightly15 on macOS 10.12.6):

With the cursor on `Value1`:

![go-scopes](https://user-images.githubusercontent.com/734194/60138240-42d61080-976f-11e9-8243-501348163f9a.png)

So we'll go ahead and close, but let me know if I'm misunderstanding :v:

---

As you may have heard, we are migrating from our old [first-mate gr

[2019-06-25 22:33] #173 closed

[2019-09-08 01:35] tohjustin opened #174 "Support syntax highlighting for changes to number literals introduced in Go 1.13"
## Summary

In Go 1.13, there are changes made to number literals & the current [language-go](https://github.com/atom/language-go) package's grammar support them yet (i.e. not all number literals in a `.go` file are being highlighted correctly)

## Motivation

The updated grammar should support syntax highlighting for the following:

(taken from [Go 1.13 Release Notes](https://golang.org/doc/go1.1

[2019-09-08 02:05] tohjustin commented on #174
Just submitted a working implementation for this feature #175

[2019-09-10 10:51] alexr00 opened #176 "Scope of names, types of declarations inconsistent"
From @willfaught in https://github.com/microsoft/vscode/issues/80523

<img width="169" alt="Screen Shot 2019-09-04 at 11 07 52 AM" src="https://user-images.githubusercontent.com/63830/64279589-42db5500-cf04-11e9-8767-8ab044e3d7b1.png">

For var declarations, names are blue and types are white, whereas for const declarations, names are white and types are blue.

For type declarations without parent

[2019-09-14 00:56] paulvollmer opened #177 "Adding more common go package snippets"
## Summary

Adding snippets for packages like `fmt`, `strings`, `io` etc.

## Motivation

If the `language-go` package include more snippets for common used language features like `string.Split` or `ioutil.ReadFile` the work by a developer can be speed up a lot.
Because currently there is only a small set of snippets at this package a lot of code a developer will write cannot be autocomplete.

I k

[2019-09-16 16:33] rsese commented on #177
Thanks for the suggestion!

We generally don't accept modifications for snippets in the language packages since they are easily overridden and we expect that people will do so for their own purposes. We provide instructions on how to create your own snippets in the [Flight Manual](https://flight-manual.atom.io/using-atom/sections/snippets/), and viewing a language package that provides snippets al

[2019-09-16 16:33] #177 closed

[2019-09-17 15:47] paulvollmer commented on #177
Thanks for the answer.

This is totally fine for me and i'll build my own golang snippets.

[2019-09-18 03:11] rsese commented on #174
Thanks @tohjustin for the fix on the Tree-sitter side - keeping this issue open since we still need to pull in the Tree-sitter changes.

[2020-02-11 12:56] jeremyf opened #180 "<unknown> is deprecated."
You have the core package "language-go" installed as a community package. See https://github.com/atom/atom/blob/master/packages/dalek/README.md for how this causes problems and instructions on how to correct the situation.
[code]

[2020-02-21 19:51] adrian5 opened #181 "Question regarding "HTML (Go)" highlighting"
Do I see it right that the `text.html.gohtml` scope originates from this package?

The highlighting seems to have issues with HTML (Go) templates, losing track of opening/closing tags along the way. I see the `tree-sitter` tag among the issues filed; does that mean a Tree-Sitter based rewrite of the whole package is in the works?

Thanks.

[2020-06-01 04:14] wkdthf21 opened #183 "Failed to load a language-go package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.47.0 x64
**Electron**: 5.0.13
**OS**: Unknown Windows version
**Thrown From**: [language-go](https://github.com/atom/language-go) package 0.47.2

### Stack Trace

Failed to load a language-go package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-09-28 04:44] elarivie opened #185 "Not possible to fold case within switch"
### Description

It is currently not possible to fold cases within switch

### Steps to Reproduce

1. Write a [switch statement](https://tour.golang.org/flowcontrol/9)
2. Add some cases with code
3. The cases can't be folded

**Expected behavior:**

I was expecting a 'v' symbol to show-up allowing user to fold each cases within the switch statement

**Actual behavior:**

No 'v' symbol show up for

[2021-11-23 19:51] #180 closed

[2022-01-31 10:19] #181 closed

[2022-02-11 12:20] Saichovsky commented on #90
This issue remains unfixed till this day. I came here to create an issue for the same problem.

To reproduce the problem, open a Go Template and try to comment out a line ( e.g. `{{- example line }}` ) using the `Ctrl + /` combination, the result is supposed to look like this:

[code]

but what you get instead, looks like this:

[code]

which is incorrect syntax.

[2022-11-19 02:41] #140 closed